<!DOCTYPE html>
<html>
<head>
    <title>PULSE Systems</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff"> 
</head>
<body bgcolor="#000000">
	<h1 align="center"><font face="serif" color="white">PULSE Systems</font></h1><br>
    <h2 align="center"><font face="verdana" color="white">You have successfully logged out.</font></h2><br>
    <h3 align="center"><a href="/">Home</a></h3>
    <h3 align="center"><a href="/login/">Login</a></h3>
</body>
</html>
